.el-main {
    // #detail {
    //     height: calc(100vh - 57px) !important;
    // }

    padding: 0;
    margin: 0;
    height: calc(100vh - 60px);

    .main_content {
        overflow: auto;
        width: 100%;
        height: 100%;
        // background-color: black;
        height: calc(100vh - 60px);
    }

    .main_content>div {
        box-sizing: border-box;
        // background-color: red;
        min-height: calc(100vh - 60px) !important;
    }
}

.fromHeader {
    // border: 1px solid blue;
    box-sizing: border-box;
}

.main_content>div {
    background-color: #F3F6FA;
    padding: 0 24px 24px 24px;
}

.fromtableListBox.detail {

    // .detail {
    .formLable {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #AAAAAA;
        line-height: 20px;
    }

    // }
}

.fromtableListBox {
    padding: 43px 72px 33px 72px;
    // border: 1px solid black;
    background-color: #fff;
    min-height: calc(100vh - 225px);
    box-sizing: border-box;

    .qd {
        margin-top: 30px;
    }

    .formLable {
        text-align: left;
    }

    .formBj {
        color: red;
    }

    .formBox {
        padding: 13px 0 30px 0;
    }
}

.fromHeader {
    margin-bottom: 12px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    text-align: left;
    line-height: 60px;
    font-size: 20px;
    padding-left: 10px;
}

.thead,
.el-table__header,
.has-gutter {
    height: 52px !important;

    tr {
        height: 52px !important;

    }

    th {

        height: 52px !important;
    }
}