// 表格全局样式
.el-table__header {
  thead tr {
    th {
      // background: #F8F9FC!important;
      // border-radius: 4px 4px 0px 0px!important;
      // padding: 0;

    }

    .cell {
      // font-size: 14px;
      // font-family: PingFangSC-Regular, PingFang SC;
      // font-weight: 400;
      // color: #999999;
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666
    }

  }
}

.el-table__body {
  tbody tr {
    .cell {
      // font-size: 14px;
      // font-family: PingFangSC-Regular, PingFang SC;
      // color: #333333;
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
    }
  }
}